/*General texts and buttons*/
p, li, ol, pre, h1, h4, h5, section {
    margin: 0;
    padding: 0;
    font-family: 'Calibri';
    margin-left: auto;
    margin-right: auto;
}

p, li, ol, pre, section {
    font-size: large;
}

h4 {
    font-size: x-large;
}

h5 {
    font-size: large;
}

code {
    font-size: large;
}

button {
    border-radius: 30%;
    font-weight: bold;
}

body {
    text-align: center;
}

code, pre {
    display: inline-block; 
    text-align: left;
}


/* Hardcoded layout for the pictures on the jQuery page and npm section */
#selectorsPicture {
    height: 563px;
    width: 638px;
}

#addersPicture {
    height: 82px;
    width: 545px;
}

#getSetContentsPicture {
    height: 150px;
    width: 650px;
}

#mouseOverPicture {
    width: 960px;
    height: 540px;
}

#npmInitPicture {
    width: 794px;
    height: 494px;
}


/*jQuery lion*/
#lionInfo {
    size: 1000px;
}

.widget-btn  {
    font-size: large;
    font-weight: bold;
}

.widget{position:fixed;  left:-350px; width:350px; top:25%; 
    border:1px solid #ccc; background-color:#ddd;
    border-radius: 20%;
    }
    .widget.active{ animation: siljish 500ms; animation-fill-mode: forwards; }
    .widget-content{padding:15px; position:relative}
    .widget-btn{position:absolute; left:100%; top:0; background-color:yellow; }
    @keyframes siljish{
      from{left:-300px;}
      to{left:0px;}
    }

/*Widget side panel*/
.widget-content {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

.widget-content, .widget, .widget-btn {
    font-family: 'Calibri';
}