
p, li, ol, pre, h4, h5, section {
    margin: 0;
    padding: 0;
    font-family: 'Calibri';
    margin-left: auto;
    margin-right: auto;
}

p, li, ol, pre, section {
    font-size: large;
}

h4 {
    font-size: x-large;
}

h5 {
    font-size: large;
}

code {
    font-size: large;
}

button {
    border-radius: 30%;
    font-weight: bold;
}

body {
    text-align: center;
}

code, pre {
    display: inline-block; 
    text-align: left;
}

#selectorsPicture {
    height: 563px;
    width: 638px;
}

#addersPicture {
    height: 82px;
    width: 545px;
}